.language-section,
.skills-section,
.general-container {
  position: relative;
  background-color: white;
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  box-shadow: 3px 3px 5px rgb(173, 173, 173);
}

.expandable-title {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.expandable-title h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-btn,
.delete-entry-btn {
  all: unset;
}

.general-input {
  gap: 0.5rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  row-gap: 1rem;
}

.general-input-labels h4 {
  color: rgb(120, 120, 255);
  font-weight: 500;
}

.general-input input {
  width: 100%;
}

.label-seperator {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.label-bottom {
  width: calc(200% + 0.5rem);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.label-bottom textarea{
  width: 100%;
  height: fit-content;
  min-height: 5rem;
  resize: none;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: var(--bg-color);
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  line-height: 1.3rem;
}

.label-bottom textarea:focus{
  outline: none;
  border: 1px solid rgb(120, 120, 255);
}

.form-btns{
  display: flex;
  justify-content: space-between; 
}

.img-upload {
  display: none;
}

.img-upload-label {
  display: flex;
  align-items: center;
  justify-content: center;  
  padding: 8px 8px;
  background: rgb(120, 120, 255);
  cursor: pointer;
  border-radius: 4px;
  height: 2rem;
  width: 5rem;
  color: white;
  font-size: 0.7rem;
  text-align: center;
}

.save-btn,
.delete-btn {
  cursor: pointer;
  border-radius: 4px;
  height: 2rem;
  width: 5rem;
  text-align: center;
  outline: none;
  border: none;
  background-color: rgb(9, 205, 68);
  color: white;
}

.save-btn-work {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.save-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.filled-on {
  display: flex;
  justify-content: space-between;
  border-top: 0.2rem solid rgb(225, 225, 225);
  margin-top: 1rem;
  padding-top: 0.5rem;
}

.secondary-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.edit-btn {
  height: 2rem;
  width: 5rem;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  align-self: center;
  outline: none;
  background: none;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.edit-btn:hover {
  background-color: var(--bg-color);
}

.delete-btn {
  background-color: rgb(255, 40, 40);
  align-self: center;
}

.date-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-seperator input[type="date"] {
  width: 48%;
}
.language-delete-btn,
.delete-entry-btn {
  position: absolute;
  right: -2.5rem;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2rem;
  width: 2rem;
}


.delete-entry-btn svg{
transition: color 0.3s ease, width 0.3s ease, height 0.3s ease;
} 


.delete-entry-btn svg:hover {
  height: 2rem;
  width: 2rem;
  fill: red;
  stroke: red;  
}


.skill-fields {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;

  input{
    flex: 1;
    background-color: white;
  }
}

.language-fields {
  position: relative;
}

.language-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.language-fields input {
  background-color: white;
  width: 100%;
}

.language-delete-btn {
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: -25px;
  margin-left: 8rem;
}

.language-delete-btn svg {
  transition: stroke 0.3s ease, fill 0.3s ease;
}

.language-delete-btn svg:hover {
  stroke: red;
  fill: red;
}



@media screen and (min-width: 600px) and (max-width: 1024px) {
  .language-delete-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-left: 11rem; 
  } 

  .language-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 100%;
  }
}


@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  
  .body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
}
  
  
  .form-panel,
  .preview-panel {
    min-width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
 
 .general-container {
    max-width: 90%;
  }

  .language-container,
  .skills-container{
    width: 90%;
  }

  .skills-section {
    max-width: 100%;
  }

  .skill-fields {
    max-width: 100%;
    justify-content: flex-start;
    font-size: 5px;

    input{
      max-width: 48%;
      font-size: 1rem;
    }
  }

  input{
    font-size: 1rem;
  }

  textarea{
    font-size: 1rem;
  }

  .delete-btn,  
  .save-btn,
  .edit-btn {
    font-size: 1rem;
  }

  .add-btn {
    width: 90%;
  }

  .language-delete-btn {
    position: absolute;
    right: 0.8rem;
    top: 3rem;
  }
}
  

